<%- include('../partials/header') %>

    <main>
        <h1>Web Dev Skill Info</h1>
        <nav>
            <ul>
                <li><a href="/skills">&lt; Go Back</a></li>
            </ul>
        </nav>

        <form 
            action="/skills/<%= skill.id %>?_method=DELETE"
            method="POST"
            class="delete-form"
        >
            <button type="submit">Delete</button>
            <h2><%= skill.name %></h2>
            <a href="/skills/<%= skill.id %>/edit">Edit Skill</a>
    </main>

    <%- include('../partials/footer') %>